span.Noun {
    color: maroon;
}
span.Verb, span.Pred, span.Inf, span.AdvPart, span.AuxVerb, span.Part {
    color: green;
}
span.Pron, span.AdjPron, span.PosPron, span.AdvPron {
    color: blue;
}
span.Num {
    color: #FF9900;
}
span.Adj {
    color: #990099;
}
span.Adv {
    color: #009999;
}
span.Prep {
    color: #996633;
}
span.Conj {
    color: #336666;
}
span.Intr {
    color: #003333;
}
span.Pr {
    color: #663366;
}
span.Article {
    color: #CC66CC;
}
span.Punct {
    color: gray;
}

span.Noun-1 {
    color: maroon;
}
span.Verb-1, span.Pred-1, span.Inf-1, span.AdvPart-1, span.AuxVerb-1, span.Part-1 {
    color: green;
}
span.Pron-1, span.AdjPron-1, span.PosPron-1, span.AdvPron-1 {
    color: blue;
}
span.Num-1 {
    color: #FF9900;
}
span.Adj-1 {
    color: #990099;
}
span.Adv-1 {
    color: #009999;
}
span.Prep-1 {
    color: #996633;
}
span.Conj-1 {
    color: #336666;
}
span.Intr-1 {
    color: #003333;
}
span.Pr-1 {    
    color: #663366;
}
span.Article-1 {
    color: #CC66CC;
}
span.Punct-1 {
    color: gray;
}

span.Noun-2 {
    color: maroon;
    margin-left: 5px;
}
span.Verb-2, span.Pred-2, span.Inf-2, span.AdvPart-2, span.AuxVerb-2, span.Part-2 {
    color: green;
    margin-left: 5px;
}
span.Pron-2, span.AdjPron-2, span.PosPron-2, span.AdvPron-2 {
    color: blue;
    margin-left: 5px;
}
span.Num-2 {
    color: #FF9900;
    margin-left: 5px;
}
span.Adj-2 {
    color: #990099;
    margin-left: 5px;
}
span.Adv-2 {
    color: #009999;
    margin-left: 5px;
}
span.Prep-2 {
    color: #996633;
    margin-left: 5px;
}
span.Conj-2 {
    color: #336666;
    margin-left: 5px;
}
span.Intr-2 {
    color: #003333;
    margin-left: 5px;
}
span.Pr-2 {
    color: #663366;
    margin-left: 5px;
}
span.Article-2 {
    color: #CC66CC;
    margin-left: 5px;
}
span.Punct-2 {
    color: gray;
    margin-left: 5px;
}

span.__UNDEFINED__, span.__UNKNOWN__ {
    color: #b10a0a;
    margin-left: 5px;
}
span.O, span.Other,
span.O-1, span.Other-1,
span.O-2, span.Other-2 {
    margin-left: 5px;
    /*font-weight: bold;
    color: red;*/
}
span.O-debug, span.Other-debug,
span.O-debug-1, span.Other-debug-1,
span.O-debug-2, span.Other-debug-2 {
    /*border: 1px dotted silver;*/
    /*font-weight: bold;*/
    /*color: red;*/
}
span.pos-type {
    font-weight: normal;
    font-size: 11px;
    font-family: monospace;
    color: darkgrey;
}
td > span.pos-type {
    padding-right: 10px;
}
span.MA { /*MorphoAttributeEnum*/
    margin-left: 5px;
}

span.syntax {
    border: 1px solid silver;
    margin-left: 5px;
    /*margin-right: 10px;*/
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}
span.Other {
    color: gray;
    background-color: whitesmoke;
}
span.Apostrophe, span.Colon, span.Comma, span.Dash, span.ExclamationMark, 
span.LeftBoxBracket, span.LeftRoundBracket, span.RightBoxBracket, span.RightRoundBracket, 
span.QuotationMark, span.Semicolon, span.Slash, span.QuestionMark, span.Article {
    color: white;
    background-color: gray;
}
span.AdverbialModifier { 
    color: lightgoldenrodyellow;
    background-color: darkgoldenrod;
}
span.AgreedAttribute, span.NonAgreedAttribute { 
    color: lightyellow;
    background-color: darkkhaki;
}
span.AuxiliaryVerb, span.Predicate { 
    color: lightgreen;
    background-color: darkgreen;
}
span.Apposition, span.Complement, span.Object, span.ObjectIndirect {
    color: red;
    background-color: maroon;
}
span.ParentheticalWord { 
    color: violet;
    background-color: darkviolet;
}
span.Particle, span.Preposition { 
    color: lightsteelblue;
    background-color: darkblue;
}
span.Subject {
    color: yellow;
    background-color: yellowgreen;
}
span.SubordinatingConjunction, span.CoordinatingConjunction { 
    color: lightcyan;
    background-color: darkcyan;
}

span.sent-number {
    color: silver;
    font-size: small;
}
    span.sent-number i {
        color: gray;
    }

div.even {
    background-color: white;
    line-height: 1.4em;
    font-size: 14px;
}
div.uneven, div.odd {
    background-color: cornsilk;
    line-height: 1.4em;
    font-size: 14px;
}

div.even span, div.uneven span, div.odd span{
    display: inline-block; 
    vertical-align: top;
}

div.even table {
    border-spacing: 0px;
}
div.even table td {
    padding: 0px;
}
div.even table td.word {
    border: 1px solid silver;
}
div.uneven table, div.odd table {
    border-spacing: 0px;
}
div.uneven table td, div.odd table td {
    padding: 0px;
}
div.uneven table td.word, div.odd table td.word {
    border: 1px solid silver;
}

div.input-text {
    width: 100%; 
    height: 220px; 
    overflow-y: scroll;
    background-color: wheat;
}
div.morphomodel-loading-errors {
    font-size: small;
    color: red;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.morphomodel-loading-errors > span {
    font-style: italic;
    text-decoration: underline;
    color: gray;
}
div.caption {
    font-size: small;
}
.hr-elapced {
    margin-top: 0.2em;
    margin-bottom: 0px;
}

#splitBySmilesCheckBox, label[for='splitBySmilesCheckBox'],
#debugOutputCheckBox, label[for='debugOutputCheckBox'],
#mergeChainsCheckBox, label[for='mergeChainsCheckBox'],
#showMorphologyCheckBox, label[for='showMorphologyCheckBox'],
#viewMorphologyTypeDropDownList, label[for='viewMorphologyTypeDropDownList'],
#morphoAmbiguityModelTypeDropDownList, label[for='morphoAmbiguityModelTypeDropDownList'],
#applyMorphoAmbiguityPreProcessCheckBox, label[for='applyMorphoAmbiguityPreProcessCheckBox'],
#syntaxModelTypeDropDownList, label[for='syntaxModelTypeDropDownList'],
#subTypeOfSyntaxModelDropDownList, label[for='subTypeOfSyntaxModelDropDownList'] {
    cursor: pointer;
}

/* Let's get this party started */
#descriptionDiv::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc/*rgba(255,0,0,0.8)*/; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #eee/*rgba(255,0,0,0.4)*/; 
}
